body {
  font-family: Arial, sans-serif;
  background-color: #e2a4c0;
  color: rgb(31, 28, 28);
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 50px 20px;
  background-color: linear-gradient(135deg, #ff8fab, #f4a6c0);
  color: rgb(31, 30, 30);
}

header h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

header p {
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto;
}

main {
  max-width: 700px;
  margin: 40px auto;
  padding: 0 20px;
}

section {
  background-color: white;
  padding: 30px;
  margin-bottom: 25px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

section h2 {
  margin-top: 0;
  color: rgb(31, 29, 29);
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

label,
form p {
  font-weight: bold;
}

input[type="number"] {
  padding: 12px;
  border: 1px solid #f4a6c0;
  border-radius: 10px;
  font-size: 16px;
}

input[type="radio"] {
  margin-right: 8px;
}

button {
  margin-top: 15px;
  padding: 14px;
  border: none;
  border-radius: 12px;
  background-color: #d86b9c;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #cb387a;
}

#resultBox {
  border: 2px dashed #ff8fab;
  text-align: center;
}

#result {
  font-size: 20px;
  font-weight: bold;
  color: #d86b9c;
}







